#!/usr/bin/env python

import requests
import socket
import sys
import os

try:
    location = sys.argv[1]
except:
    location = ""
try:
    description = sys.argv[2]
except:
    description = ""

print("Hostname...: " + socket.gethostname())

eth0 = os.popen(
    'ip addr show eth0 | grep -vw "inet6" | grep "global" | grep -w "inet" | cut -d/ -f1 | awk \'{ print $2 }\'').read().rstrip()
wlan0 = os.popen(
    'ip addr show wlan0 | grep -vw "inet6" | grep "global" | grep -w "inet" | cut -d/ -f1 | awk \'{ print $2 }\'').read().rstrip()


def getserial():
    # Extract serial from cpuinfo file
    cpuserial = "0000000000000000"
    try:
        f = open('/proc/cpuinfo', 'r')
        for line in f:
            if line[0:6] == 'Serial':
                cpuserial = line[10:26]
        f.close()
    except:
        cpuserial = "ERROR000000000"

    return cpuserial


data = {'serial': getserial()}
data['hostname'] = socket.gethostname()
data['lan'] = eth0
data['wlan'] = wlan0
if (location != ""):
    data['location'] = location
if (description != ""):
    data['description'] = description

r = requests.post('<url>', auth=('<user>', '<password>'), data=data, timeout=3)

if (r.status_code == 200):
    if (r.text == "-1"):
        print("Data Error")
    else:
        ret_arr = r.text.split('|')
        print("ID.........: " + ret_arr[0].zfill(3))
        if (ret_arr[1] != ""):
            print("Location...: " + ret_arr[1])
        if (ret_arr[2] != ""):
            print("Description: " + ret_arr[2])

else:
    print("Error Webservice")
