[RemoteAccess]
url = 
username = 
password = 
# Seconds
timeout = 3
# Complete Params with Value -> max 10 Parameters
req_param_1 = Richtung=0
req_param_2 = GateNo=1
# eq_param_10 = 

# Name Barcode Param
req_barcode = Barcode
# Name RFID Param
req_rfid = Rfid
# replace LineFeed with
# eg: \n OR %%n (->%n) OR space for one empty Space OR <br>
lf_replace = \n

[GatOpen]
# Seconds
TimeOpen = 3
WarnLoop0 = 2
WarnLoop1 = 1
UseBeep = True
GatName = My Test Access

[Reader]
baud_rate = 9600
com_port = /dev/ttyACM1
bc_prefix = CODE:
timeout = 0.2
# 0/1
rfid_switch_pairs = 0
# 0/1
rfid_convert_to_dec = 1

[GetHost]
url = 
username = 
password = 

[mcdSettings]
host = 
user = 
passwd = 
database = 
storeID = 11
maxEntrys = 5
# Minutes
timeLimit = 120
# Days
timeCleanUp = 14
